<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogPlatform</title>
    
    <link rel="stylesheet" href="/styles/home.style.css">
    <link rel="stylesheet" href="/styles/layout.css">

</head>

<body>
    <nav>
        <!-- <div class="main"> -->
            <div class="left">
                <a href="#">FZN Blog Platform</a>
            </div>

            <div class="right">
                <button type="submit">Login</button>
                <button>New Blog</button>
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                      </svg>
                </a>
            </div>
        <!-- </div> -->
        </nav>


        
        
        
        <main>
            
            <%- body %>
        
        
            <aside>
                <div class="search-form">
                    <input type="text" placeholder="search">
                    <button>Search</button>
                </div>
                <div class="asideCategory">
                    Hii
                </div>
                <div class="asidePopular">
                    
                    <div class="blogTypeFilter">
                        <button>Health</button>
                        <button>Technology</button>
                        <button>Literature</button>
                        <button>Programming</button>
                        <button>Gaming</button>
                        <button>Fitness</button>
                        <button>Computer</button>
                        <button>Environmental</button>
                        <button>Fashion</button>
                        <button>Food and Cooking</button>
                        <button>DIY and Crafts</button>
                        <button>Beauty and Makeup</button>
                        <button>Education</button>
                        <button>Wellness</button>
                        <button>Personal Development</button>
                        <button>Photography</button>
                        <button>Parenting</button>
                        <button>Finance</button>
                        <button>Social Issues</button>
                        <button>Music</button>
                        <button>Home Decor</button>
                        <button>Book Reviews</button>
                        <button>Technology</button>
                        <button>Sports</button>
                        <button>Career and Professional Development</button>
                        <button>Travel</button>
                        <button>Science</button>
                        <button>Entertainment</button>
                        <button>Art and Design</button>
                        <button>Business</button>
                        <button>History</button>
                    </div>
                    
                </div>
                
            </aside>
        </main>

        <footer>
            <div>Copyright@faizanamd</div>
            <div class="links">
                <a href="www.gitub.com/Faiznamd">GitHub</a>
                <a href="https://www.linkedin.com/in/fxan-thues/">LinkedIn</a>
            </div>
        </footer>
</body>

</html>