<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogPlatform</title>
    <link rel="stylesheet" href="./styles/layout.css">
</head>

<body>
    <nav>
        <!-- <div class="main"> -->
            <div class="left">
                <a href="#">FZN Blog Platform</a>
            </div>

            <div class="right">
                <div class="list">
                    <li><a href="#">Brand</a></li>
                    <li><a href="#">Brand</a></li>
                    <li><a href="#">Brand</a></li>
                    <li><a href="#">Brand</a></li>
                </div>
                <div class="buttons">
                    <button type="submit">SingIn</button>
                    <button type="submit">SingUp</button>
                </div>
            </div>
        <!-- </div> -->
        </nav>
</body>

</html>