@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&family=Mukta:wght@200&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: auto;
}

nav {
    height: 35px;
    background-color: #02A28F;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.left a {
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    margin-left: 3vw;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
}

.right button {
    background: linear-gradient(to bottom, #ffffff, #f0f0f0);
    color: #02A28F;
    border: none;
    padding: 6px 12px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    transition: all 0.4s;
}

.right button:hover {
    transform: scale(1.09);
    color: #ffffff;
    background: #02A28F;
    border: 1px solid #ffffff;
}
.right a{
    text-decoration: none;
    color: #ffffff;
   display: flex;
   align-items: center;
}
.svg-icon {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    /* color: red; */
    fill: #02A28F;
    /* fill: red; */
    transition: all 0.5s; /* Match the button color or choose a complementary color */
}

/* .blogTypeFilter {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .blogTypeFilter button {
    padding: 8px 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .blogTypeFilter button:hover {
    background-color: #2980b9;
  } */

  #loadMoreButton {
    margin-top: 8px;
    background-color:  #f0f0f0;
    border: none;
    color: #02A28F;
    border-radius: 16px;
    align-self: center;
  }

  #loadMoreButton:hover {
    background-color: #dcdcdc; /* Change to a slightly darker color on hover */
  }

/* Optional: Add animation to the button */
.right button {
    transition: background-color 0.3s ease;
}

.userProfileImage{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


/* footer section start here */
footer {
    width: 100%;
    height: 50px;
    background-color: #02A28F;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: static; */
    margin-bottom: px;
}

.links {
    display: flex;
}

.links p {
    /* margin: 0px 10px; */
    color: white;
}